<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily News</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>Daily News</h1>
        
        
            {% for news in news %}
                
                <h2>News Title: {{ news.newsTitle }}</h2>
                <p>News Details: {{news.newsDetails }}</p>
                <img src="{{ news.image.url }}" width="150" height="150">
                
                    <a href="/update/{{news.id }}">Edit</a>
                    <a href="/delete/{{news.id}}">Delete</a>
                
       
            {% endfor %}
        
    
    <br>
    <br>
    <button><a style="color:rgb(0, 0, 0);" href="/nws">Create News</a></button>
</body>

</html>